* {
    font-family: "Lexend Deca", sans-serif;
}

#aboutSection {
    background-color: #020617;
    display: flex;
    justify-content: center;
    padding: 96px 165px;
}

.about-container {
    width: 1092px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-media {
    width: 427px;
    height: 427px;
    background-color: #0000;
    border: 10px solid #EAB308;
    border-radius: 20px;
}

.about-media img {
    width: 427px;
    height: 427px;
    margin: -36px 0px 2px 16px;
    border-radius: 20px;
    object-fit: cover;
}

.about-text {
    width: 466px;
    flex-direction: column;
    display: flex;
    gap: 24px;
}

.about-text>h3 {
    font-size: 42px;
    font-weight: bold;
}

.about-text>h3>span {
    color: #FACC15;
}

.about-text>p {
    font-size: 16px;
    color: #6B7280;}
.about-text>p>strong {
    color: #9298a5;
}

/* Responsive Design */
@media (max-width: 1199px) {
    #aboutSection {
        padding: 96px 40px;
    }

    .about-container {
        width: 100%;
        max-width: 1092px;
    }
}

@media (max-width: 1024px) {
    #aboutSection {
        padding: 80px 20px;
    }

    .about-container {
        gap: 40px;
    }

    .about-media {
        width: 350px;
        height: 350px;
    }

    .about-media img {
        width: 350px;
        height: 350px;
    }

    .about-text {
        width: 100%;
        max-width: 466px;
    }
}

@media (max-width: 880px) {
    #aboutSection {
        height: auto;
        padding: 60px 20px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
        height: auto;
        gap: 40px;
    }

    .about-media {
        width: 450px;
        height: 450px;
        margin: 0 auto 40px;
    }

    .about-media img {
        width: 450px;
        height: 450px;
        margin: -30px 0px 2px 12px;
    }

    .about-text {
        width: 100%;
        height: auto;
        align-items: center;
        max-width: 100%;
        padding:  0 24px;
    }

    .about-text>h3 {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    #aboutSection {
        padding: 40px 15px;
    }

    .about-media {
        width: 250px;
        height: 250px;
        border: 8px solid #EAB308;
    }

    .about-media img {
        width: 250px;
        height: 250px;
        margin: -25px 0px 2px 10px;
    }

    .about-text>h3 {
        font-size: 28px;
    }

    .about-text>p {
        font-size: 14px;
    }
}