button:active {
  transform: scale(0.95);
}

.contact-btn {
  margin-top: auto;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 123px;
  height: 43px;
}

.contact-btn#sendMsgBtn{
  width: 142px;
}

.contact-btn>a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FACC15;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 16px;
  color: black;
  border: 1px solid black;
}
.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FACC15;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  border: 1px solid black;
}