.portfolio-sec {
    background-color: #020617;
    padding: 96px 165px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portfolio-text {
    width: 461px;
    margin-bottom: 80px;
    text-align: center;
}

.portfolio-text>h3 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

.portfolio-text>h3>span {
    color: #FACC15;
}

.portfolio-text>p {
    font-size: 16px;
    color: #6B7280;
}

.portfolio-media {
    width: 1100px;
    height: 565px;
    display: flex;
    gap: 29px;
}

.portfolio-media>img {
    width: 540px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    flex-wrap: wrap;
}

.portfolio-media>.small-imgs {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
}

.portfolio-media>.small-imgs>img {
    width: 250px;
    height: 268px;
    object-fit: cover;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 1199px) {
    .portfolio-sec {
        padding: 96px 0px;
    }

    .portfolio-media {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        gap: 27px;
    }

    .portfolio-media>img {
        width: 480px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        flex-wrap: wrap;
    }

    .portfolio-media>.small-imgs {
        width: 462px;
        height: 100%;
        display: flex;
        gap: 22px;
        flex-wrap: wrap;
    }

    .portfolio-media>.small-imgs>img {
        width: 220px;
        height: 238px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 1024px) {
    .portfolio-sec {
        padding: 80px 0px;
    }

    .portfolio-text {
        width: 100%;
        padding: 0 80px;
        margin-bottom: 80px;
    }

    .portfolio-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0 80px;
        gap: 10px;
    }

    .portfolio-media>img {
        width: 100%;
        height: 280px;
        object-position: 50% 24%;
    }

    .portfolio-media>.small-imgs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .portfolio-media>.small-imgs>img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .portfolio-sec {
        padding: 60px 20px;
    }

    .portfolio-text {
        width: 100%;
        padding: 0 24px;
        margin-bottom: 40px;
    }

    .portfolio-text>h3 {
        font-size: 32px;
    }

    .portfolio-media {
        flex-direction: column;
        padding: 32px;
        height: auto;
        gap: 10px;
    }

    .portfolio-media>img {
        width: 100%;
        height: 300px;
        margin-right: 0;
    }

    .portfolio-media>.small-imgs {
        width: 100%;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-media>.small-imgs>img {
        width: 100%;
        height: auto;
        max-height: 200px;
    }
}

@media (max-width: 500px) {
    .portfolio-sec {
        padding: 40px 15px;
    }

    .portfolio-text>h3 {
        font-size: 28px;
    }

    .portfolio-text>p {
        font-size: 14px;
    }

    .portfolio-media {
        padding: 10px;
    }
    .portfolio-media>img {
        height: 250px;
    }

    .portfolio-media>.small-imgs {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-media>.small-imgs>img {
        width: 100%;
        height: 150px;
    }
}