.services-sec {
    background-color: #111827;
    padding: 96px 165px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-text {
    width: 461px;
    margin-bottom: 56px;
}

.service-text>h3 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

.service-text>h3>span {
    color: #FACC15;
}

.service-text>p {
    font-size: 16px;
    color: #6B7280;
}
.service-text>p>strong {
    color: #9298a5;
}

.service-cards {
    display: flex;
    gap: 30px;
}

.card {
    width: 350px;
    background: #020617;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    border-radius: 10px;
}

.card>i.fas {
    font-size: 40px;
    color: #FACC15;
}

.card>h3 {
    font-size: 26px;
    font-weight: bold;
    color: #F3F4F6;
}

.card>p {
    font-size: 16px;
    color: #6B7280;
}
.card>p>strong {
    color: #9298a5;
}

/* Responsive Design */
@media (max-width: 1199px) {
    .services-sec {
        padding: 96px 40px;
    }

    .service-cards {
        gap: 20px;
    }

    .card {
        width: 300px;
        padding: 20px;
    }

    .card>i.fas {
        font-size: 38px;
    }

    .card>h3 {
        font-size: 24px;
    }

    .card>p {
        font-size: 14px;
    }
}

@media (max-width: 964px) {
    .services-sec {
        padding: 60px 20px;
    }

    .service-text {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        padding: 0 40px;
    }

    .service-text>h3 {
        font-size: 32px;
    }

    .service-cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card {
        width: 100%;
        max-width: 800px;
    }
}

@media (max-width: 480px) {
    .services-sec {
        padding: 40px 15px;
    }

    .service-text {
        padding: 0 20px;
    }
    .service-text>h3 {
        font-size: 28px;
    }

    .service-text>p {
        font-size: 14px;
    }

    .card {
        padding: 20px;
        gap: 24px;
    }

    .card>i.fas {
        font-size: 32px;
    }

    .card>h3 {
        font-size: 22px;
    }

    .card>p {
        font-size: 14px;
    }
}