/* ===== Skills Section (MERN Stack) ===== */
.skills-sec {
    width: 100%;
    background-color: #020617;
    display: flex;
    justify-content: center;
    padding: 96px 165px;
}

.skill-text  {
    width: 461px;
    margin-bottom: 56px;
    margin-right: auto;
}

.skill-text>h3 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

.skill-text>h3>span {
    color: #FACC15;
}

.skill-text>p {
    font-size: 16px;
    color: #6B7280;
}

.skill-text>p>strong {
    color: #9298a5;
}

/* ===== Skill Cards ===== */
.skill-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    justify-items: center; 
}

.skill-cards>.card {
    width: 350px;
    background:  #111827;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    border-radius: 10px;
}

.skill-cards>.card>i.skill-icon {
    font-size: 40px;
    color: #FACC15;
}

.skill-cards>.card>h3 {
    font-size: 26px;
    font-weight: bold;
    color: #F3F4F6;
}

.skill-cards>.card>p {
    font-size: 16px;
    color: #6B7280;
}

.skill-cards>.card>p>strong {
    color: #9298a5;
}

/* ===== Responsive Design ===== */
@media (max-width: 1199px) {
    .skills-sec {
        padding: 96px 40px;
    }

    .skill-cards {
        gap: 20px;
    }

    .skill-cards>.card {
        width: 300px;
        padding: 20px;
    }

    .skill-cards>.card>i.fas {
        font-size: 38px;
    }

    .skill-cards>.card>h3 {
        font-size: 24px;
    }

    .skill-cards>.card>p {
        font-size: 14px;
    }
}

@media (max-width: 964px) {
    .skills-sec {
        padding: 60px 20px;
    }

    .skill-text {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        padding: 0 40px;
    }

    .skill-text>h3 {
        font-size: 32px;
    }

    .skill-cards {
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);

    }

    .skill-cards>.card {
        width: 100%;
        max-width: 800px;
    }
}

@media (max-width: 480px) {
    .skills-sec {
        padding: 40px 15px;
    }

    .skill-text {
        padding: 0 20px;
    }

    .skill-text>h3 {
        font-size: 28px;
    }

    .skill-text>p {
        font-size: 14px;
    }

    .skill-cards>.card {
        padding: 20px;
        gap: 24px;
    }

    .skill-cards>.card>i.fas {
        font-size: 32px;
    }

    .skill-cards>.card>h3 {
        font-size: 22px;
    }

    .skill-cards>.card>p {
        font-size: 14px;
    }
}